{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {%  include 'nav.html.twig' %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    
    <div class="col-hotel py-5">
        <div class="container-xxl">
            <div class="row g-3 g-xl-5">
            {% for hotel in hotels %}
                   <div class="col-md-6 col-lg-4 col-xl-3"> 
                        <div class="card">
                            <img src="{{asset('img/hotel-lux.jpeg')}}" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center title_hotel">{{hotel.name}}</h5>
                                <div class"button_hotel">
                                    <a href="{{path('hotel_show',{'id': hotel.id})}}"  class="btn btn-primary btn-card">Voir l'hotel</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
         </div>
        </div>

    </div>
    
    
    {%  include 'footer.html.twig' %}
{% endblock %}