<form method="post" action="{{ path('app_gerant_gallerie_delete', {'id': gallerie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de  vouloir supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallerie.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
